$standardFontSize: 14px;
$standardWhite: #FFFFFF;

$lcBlue: #2C97E8;
$lcGreen: #20AF74;
$lcYellow: #F39D1C;
$lcOrange: #F95E1A;
$lcRed: #E82C4B;

$wordGray: #787878;
$wordBlack: #333333;

$maxWidth: 980px;
$minWidth: 760px;

html {
  font-family: 'Lantinghei SC', 'Microsoft Yahei', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $standardFontSize;
}

body {
  width: 100%;
  position: relative;
  color: $wordBlack;
}


