<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>Yurnero</title>
    <!-- 引入外部css -->
    <link rel="stylesheet" href="/bower_components/weui/dist/style/weui.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- 引入自定义css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body -%>
  </body>
</html>