<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 引入外部css -->
    
    <!-- 引入自定义css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body -%>
  </body>
</html>